<!-- banner -->
<div class="t-banner"></div>
<!-- END banner -->

<!-- new deployment -->
<div class="t-new-item-main" id="new-deployment">
	<div class="t-new-item-con">
		<div class="t-new-item">
			<select id="application-name" ng-model="application_name" ng-options="application as application for application in applications">
				<option value="" selected="selected">- application names -</option>
			</select>
			<input type="text" id="deployment-group" placeholder="deployment group" ng-model="deployment_group">
			<select id="AWS-groups" ng-model="group" ng-options="option_group.GroupId as option_group.GroupName for option_group in groups">
				<option value="" selected="selected">- security groups -</option>
			</select>
			<select id="AWS-roles" ng-model="role" ng-options="option_role.RoleName as option_role.RoleName for option_role in roles">
				<option value="" selected="selected">- roles -</option>
			</select>
			<select id="AWS-arn" ng-model="arn" ng-options="option_arn.Arn as option_arn.RoleName for option_arn in roles">
				<option value="" selected="selected">- arn -</option>
			</select>
			<select id="AWS-AMIs" ng-model="AMI" ng-options="option_AMI.ImageId as option_AMI.Name for option_AMI in AMIs">
				<option value="" selected="selected">- environment AMIs -</option>
			</select>
			<select id="AWS-instance-type" ng-model="instance_type">
				<option value="" selected="selected">- instance type -</option>
				<option value="t1.micro" selected="selected">t1.micro</option>
				<option value="m3.medium" selected="selected">m3.medium</option>
				<option value="m3.large" selected="selected">m3.large</option>
				<option value="m3.xlarge" selected="selected">m3.xlarge</option>
				<option value="m3.2xlarge" selected="selected">m3.2xlarge</option>
			</select>
			<select id="node-modules" ng-model="node_modules">
				<option value="" selected="selected">- node modules -</option>
				<option value="install">install</option>
				<option value="link">link</option>
			</select>
			<select id="revision-type" ng-model="revision_type" updateview="new-deployment">
				<option value="" selected="selected">- revision type -</option>
				<option value="GitHub" view="github-project-commit-id, github-project-path">deploy from GitHub</option>
				<option value="S3" view="s3-project-bucket, s3-project-key, s3-project-bundle-type">deploy from S3</option>
			</select>

			<input type="text" class="hide" id="github-project-path" placeholder="github project path" ng-model="github_project_path">
			<input type="text" class="hide" id="github-project-commit-id" placeholder="github project commit id" ng-model="github_project_commit_id">
			<input type="text" class="hide" id="s3-project-bucket" placeholder="S3 project bucket" ng-model="s3_project_bucket">
			<input type="text" class="hide" id="s3-project-key" placeholder="S3 project key" ng-model="s3_project_key">
			<select class="hide" id="s3-project-bundle-type" ng-model="s3_project_bundle_type">
				<option value="" selected="selected">- bundle type -</option>
				<option value="tar">tar</option>
				<option value="tgz">tgz</option>
				<option value="zip">zip</option>
			</select>

			<textarea rows="3" id="user-data" placeholder="Instance user data" ng-model="user_data"></textarea>
			<textarea rows="3" id="description" placeholder="write a description..." ng-model="description" maxlength="100"></textarea>

			<div class="hide" id="advanced-settings-save">
				<input type="text" placeholder="device name" id="device-name" ng-model="settings.device_name">
				<input type="text" placeholder="snapshot id" id="snapshot-id" ng-model="settings.snapshot_id">
				<input type="text" placeholder="volume type" id="volume-type" ng-model="settings.volume_type">
				<input type="text" placeholder="min size" id="min-size" ng-model="settings.min_size">
				<input type="text" placeholder="max size" id="max-size" ng-model="settings.max_size">
				<input type="text" placeholder="desired capacity" id="desired-capacity" ng-model="settings.desired_capacity">
			</div>

			<button class="btn save" id="save" ng-click="save()">deploy</button>
			<button class="btn" id="advanced-save" ng-click="openAdvanced('save')">advanced</button>
			<button class="btn" ng-click="cancel()">cancel</button>
		</div>
	</div>
</div>
<!-- END new deployment -->

<!-- edit deployment -->
<div class="t-edit-item-main" id="edit-deployment">
	<ul class="t-edit-item-con clearfix">
		<li>
			<ul class="t-edit-list">
				<li><p>Application Name: {{edit.application_name}}</p></li>
				<li><p>Deployment ID: {{edit.deployment_id}}</p></li>
				<li><p>Deployment Group: {{edit.deployment_group}}</p></li>
				<li><p>Status: 
					<a ng-class="{ 't-started': edit.is_started, 't-deployed': edit.is_deployed, 't-stopped': edit.is_stopped }"></a>
					<span>{{edit.status_description}}</span>
				</p></li>
				<li><p>Number of Deployments: {{edit.deployment_count}}</p></li>
				<li><p>Created: {{ edit.created_at}}</p></li>
			</ul>
		</li>
		<li>
			<div class="t-edit-item">
				<select id="AWS-groups" ng-model="edit.group" ng-options="option_group.GroupId as option_group.GroupName for option_group in groups">
					<option value="" selected="selected">- security groups -</option>
				</select>
				<select id="AWS-roles" ng-model="edit.role" ng-options="option_role.RoleName as option_role.RoleName for option_role in roles">
					<option value="" selected="selected">- roles -</option>
				</select>
				<select id="AWS-arn" ng-model="edit.arn" ng-options="option_arn.Arn as option_arn.RoleName for option_arn in roles">
					<option value="" selected="selected">- arn -</option>
				</select>
				<select id="AWS-AMIs" ng-model="edit.AMI" ng-options="option_AMI.ImageId as option_AMI.Name for option_AMI in AMIs">
					<option value="" selected="selected">- environment AMIs -</option>
				</select>
				<select id="AWS-instance-type" ng-model="edit.instance_type">
					<option value="" selected="selected">- instance type -</option>
					<option value="t1.micro" selected="selected">t1.micro</option>
					<option value="m3.medium" selected="selected">m3.medium</option>
					<option value="m3.large" selected="selected">m3.large</option>
					<option value="m3.xlarge" selected="selected">m3.xlarge</option>
					<option value="m3.2xlarge" selected="selected">m3.2xlarge</option>
				</select>
				<select id="edit-node-modules" ng-model="edit.node_modules">
					<option value="" selected="selected">- node modules -</option>
					<option value="install">install</option>
					<option value="link">link</option>
				</select>
				<select id="edit-revision-type" ng-model="edit.revision_type" updateview="edit-deployment">
					<option value="" selected="selected">- revision type -</option>
					<option value="GitHub" view="edit-github-project-commit-id, edit-github-project-path">deploy from GitHub</option>
					<option value="S3" view="edit-s3-project-bucket, edit-s3-project-key, edit-s3-project-bundle-type">deploy from S3</option>
				</select>

				<input type="text" class="hide" id="edit-github-project-path" placeholder="github project path" ng-model="edit.github_project_path">
				<input type="text" class="hide" id="edit-github-project-commit-id" placeholder="github project commit id" ng-model="edit.github_project_commit_id">
				<input type="text" class="hide" id="edit-s3-project-bucket" placeholder="S3 project bucket" ng-model="edit.s3_project_bucket">
				<input type="text" class="hide" id="edit-s3-project-key" placeholder="S3 project key" ng-model="edit.s3_project_key">
				<select class="hide" id="edit-s3-project-bundle-type" ng-model="edit.s3_project_bundle_type">
					<option value="" selected="selected">- bundle type -</option>
					<option value="tar">tar</option>
					<option value="tgz">tgz</option>
					<option value="zip">zip</option>
				</select>

				<textarea rows="3" id="edit-description" placeholder="write a description..." ng-model="edit.description" maxlength="100"></textarea>

				<div class="hide" id="advanced-settings-update">
					<input type="text" placeholder="device name" id="device-name" ng-model="edit.device_name">
					<input type="text" placeholder="snapshot id" id="snapshot-id" ng-model="edit.snapshot_id">
					<input type="text" placeholder="volume type" id="volume-type" ng-model="edit.volume_type">
					<input type="text" placeholder="min size" id="min-size" ng-model="edit.min_size">
					<input type="text" placeholder="max size" id="max-size" ng-model="edit.max_size">
					<input type="text" placeholder="desired capacity" id="desired-capacity" ng-model="edit.desired_capacity">
				</div>

				<button class="btn save" id="update" ng-click="update()">re-deploy</button>
				<button class="btn" id="advanced-update" ng-click="openAdvanced('update')">advanced</button>
				<button class="btn" ng-click="cancel()">cancel</button>
			</div>
		</li>
	</ul>
</div>
<!-- END edit deployment -->

<!-- search -->
<div class="t-search">
	<div class="t-search-bar fx-fs">
		<ul class="t-filter fx-fs">
			<li>
				<a id="selected-filter">{{filter_sort}}<i class="ka-down ka-ld"></i></a>
				<ul>
					<li ng-click="filter('all')" id="filter-liked">All</li>
					<li ng-click="filter('started')" id="filter-recent">Started</li>
					<li ng-click="filter('deployed')" id="filter-popular">Deployed</li>
					<li ng-click="filter('stopped')" id="filter-popular">Stopped</li>
				</ul>
			</li>
		</ul>
		<a class="t-new" ng-click="openNewDeployment()"><i class="ka-plus ka-ld"></i>New</a>
	</div>
</div>
<!-- END search -->

<div class="t-lists-main">
	<ul class="t-lists clearfix">
		<li ng-show="0 != deployments.length" ng-repeat="deployment in deployments | filter:search_input | orderBy:'-created_at'">
			<div class="t-list clearfix">
				<a class="t-icon" ng-class="{ 'spin': deployment.is_started }" ng-click="openEditDeployment(deployment)">{{deployment.deployment_group.charAt(0)}}</a>
				<div class="t-text">
					<a ng-click="openEditDeployment(deployment)">{{deployment.deployment_group}}</a>
					<p>{{deployment.revision_type}}<span>@{{deployment.github_project_commit_id}}{{deployment.s3_project_key}}</span></p>
				</div>
				<div class="t-buttons">
					<a ng-class="{ 't-started': deployment.is_started, 't-deployed': deployment.is_deployed, 't-stopped': deployment.is_stopped }"></a>

					<a class="btn" ng-click="showHistory(deployment)" ui-sref="deployments.history({ id: deployment.application_name + '-' + deployment.deployment_group })">History</a>
					<a class="btn" ng-hide="{{deployment.is_deployed || deployment.is_stopped}}" ng-click="stop(deployment)">Stop</a>
					<a class="btn on" ng-show="{{deployment.is_deployed || deployment.is_stopped}}" ui-sref="deployments.delete({ name: deployment.deployment_group, application: deployment.application_name, id: deployment.deployment_internal_id })">Delete</a>
				</div>
			</div>
		</li>
	</ul>

	<div class="t-loading" id="loading">
		<span></span>
	</div>

	<div class="t-no-records" id="no-records">
		<p>nothing here</p>
	</div>

	<div class="t-pagination" ng-click="getMoreUsers()"><a class="fx-fs"><i class="ka-down"></i></a></div>
</div>

<!-- modal -->
<div id="t-modal" ui-view="modal"></div>
<!-- END modal -->

