<!-- banner -->
<div class="t-banner"></div>
<!-- END banner -->

<!-- new deployment -->
<div class="t-new-item-main" id="new-deployment">
	<div class="t-new-item-con">
		<div class="t-new-item">
			<input type="text" id="application-name" placeholder="application name" ng-model="application_name">
			<input type="text" id="deployment-group" placeholder="deployment_group" ng-model="deployment_group">
			<input type="text" id="tag-version" placeholder="tag version" ng-model="tag_version">
			<select id="node-modules" ng-model="node_modules">
				<option value="" selected="selected">- node modules -</option>
				<option value="install">install</option>
				<option value="link">link</option>
			</select>
			<select id="revision-type" ng-model="revision_type" updateview="new-deployment">
				<option value="" selected="selected">- revision type -</option>
				<option value="GitHub" view="github-project-commit-id, github-project-path">deploy from GitHub</option>
				<option value="S3" view="s3-project-path">deploy from S3</option>
			</select>

			<input type="text" class="hide" id="github-project-commit-id" placeholder="github project commit id" ng-model="github_project_commit_id">
			<input type="text" class="hide" id="github-project-path" placeholder="github project path" ng-model="github_project_path">
			<input type="text" class="hide" id="s3-project-path" placeholder="s3 project path" ng-model="s3_project_path">

			<textarea rows="3" id="description" placeholder="write a description..." ng-model="description"></textarea>
			<button class="btn save" id="save" ng-click="save()">deploy</button>
			<button class="btn" ng-click="cancel()">cancel</button>
		</div>
	</div>
</div>
<!-- END new deployment -->

<!-- edit deployment -->
<div class="t-edit-item-main" id="edit-deployment">
	<ul class="t-edit-item-con clearfix">
		<li>
			<ul class="t-edit-list">
				<li><p>Application Name: {{edit.application_name}}</p></li>
				<li><p>Deployment ID: {{edit.deployment_id}}</p></li>
				<li><p>Deployment Group: {{edit.deployment_group}}</p></li>
				<li><p>Status: 
					<a ng-class="{ 't-started': edit.is_started, 't-deployed': edit.is_deployed, 't-stopped': edit.is_stopped }"></a>
					<span></span>
				</p></li>
				<li><p>Number of Deployments: {{edit.deplayment_count}}</p></li>
				<li><p>Created: {{ edit.created_at}}</p></li>
			</ul>
		</li>
		<li>
			<div class="t-edit-item">
				<input type="text" id="edit-tag-version" placeholder="tag version" ng-model="edit.tag_version">
				<select id="edit-node-modules" ng-model="edit.node_modules">
					<option value="" selected="selected">- node modules -</option>
					<option value="install">install</option>
					<option value="link">link</option>
				</select>
				<select id="edit-revision-type" ng-model="edit.revision_type" updateview="edit-deployment">
					<option value="" selected="selected">- revision type -</option>
					<option value="GitHub" view="edit-github-project-commit-id, edit-github-project-path">deploy from GitHub</option>
					<option value="S3" view="edit-s3-project-path">deploy from S3</option>
				</select>

				<input type="text" class="hide" id="edit-github-project-commit-id" placeholder="github project commit id" ng-model="edit.github_project_commit_id">
				<input type="text" class="hide" id="edit-github-project-path" placeholder="github project path" ng-model="edit.github_project_path">
				<input type="text" class="hide" id="edit-s3-project-path" placeholder="s3 project path" ng-model="edit.s3_project_path">

				<textarea rows="3" id="edit-description" placeholder="write a description..." ng-model="edit.description"></textarea>
				<button class="btn save" id="save" ng-click="update()">re-deploy</button>
				<button class="btn" ng-click="cancel()">cancel</button>
			</div>
		</li>
	</ul>
</div>
<!-- END edit deployment -->

<!-- search -->
<div class="t-search">
	<div class="t-search-bar fx-fs">
		<ul class="t-filter fx-fs">
			<li>
				<a id="selected-filter">{{filter_sort}}<i class="ka-down ka-ld"></i></a>
				<ul>
					<li ng-click="filter('all')" id="filter-liked">All</li>
					<li ng-click="filter('started')" id="filter-recent">Started</li>
					<li ng-click="filter('deployed')" id="filter-popular">Deployed</li>
					<li ng-click="filter('stopped')" id="filter-popular">Stopped</li>
				</ul>
			</li>
		</ul>
		<a class="t-new" ng-click="openNewDeployment()"><i class="ka-plus ka-ld"></i>New</a>
	</div>
</div>
<!-- END search -->

<div class="t-lists-main">
	<ul class="t-lists clearfix">
		<li ng-show="0 != deployments.length" ng-repeat="deployment in deployments | filter:search_input | orderBy:'-created_at'">
			<div class="t-list clearfix">
				<a class="t-icon" ng-class="{ 'spin': deployment.is_started }" ng-click="openEditDeployment(deployment)">{{deployment.deployment_group.charAt(0)}}</a>
				<div class="t-text">
					<a ng-click="openEditDeployment(deployment)">{{deployment.deployment_group}}</a>
					<p>{{deployment.branch}}@{{deployment.tag_version}}</p>
				</div>
				<div class="t-buttons">
					<a ng-class="{ 't-started': deployment.is_started, 't-deployed': deployment.is_deployed, 't-stopped': deployment.is_stopped }"></a>

					<a class="btn" ng-click="showHistory(deployment)" ui-sref="deployments.history({ id: deployment.deployment_group_id })">History</a>
					<a class="btn" ng-show="{{!deployment.is_deployed || !deployment.is_stopped}}" ng-click="stop(deployment)">Stop</a>
				</div>
			</div>
		</li>
	</ul>

	<div class="t-loading" id="loading">
		<span></span>
	</div>

	<div class="t-no-records" id="no-records">
		<p>nothing here</p>
	</div>

	<div class="t-pagination" ng-click="getMoreUsers()"><a class="fx-fs"><i class="ka-down"></i></a></div>
</div>

<!-- modal -->
<div id="t-modal" ui-view="modal"></div>
<!-- END modal -->

