<div class="t-modal">
	<div class="t-modal-con">

		<div class="t-head">
			<p>{{name}}</p>
			<span class="ka-close t-close fx-fs" ng-click="close()"></span>
		</div>

		<ul class="clearfix">
			<li ng-show="0 != history.length" ng-repeat="deployment in deployments">
				<div class="t-list" ng-click="openEditDeployment(deployment)">
					<span class="t-key">@{{deployment.github_project_commit_id}}{{deployment.s3_project_key}}</span>
					<span class="t-type">{{deployment.revision_type}}</span>
					<a ng-class="{ 't-started': deployment.is_started, 't-deployed': deployment.is_deployed, 't-stopped': deployment.is_stopped }"></a>
					<span class="t-date">{{deployment.created_at}}</span>
				</div>
			</li>
		</ul>

		<div class="t-loading" id="modal-loading">
			<span></span>
		</div>

		<div class="t-no-records" id="modal-no-records">
			<p>nothing here</p>
		</div>

	</div>
</div>