<!-- banner -->
<div class="t-banner"></div>
<!-- END banner -->

<!-- search -->
<div class="t-search">
	<div class="t-search-bar fx-fs"></div>
</div>
<!-- END search -->

<!-- settings -->
<div class="t-settings-main">
	<div class="t-setting-splash clearfix">
		<div class="t-splash">
			<img class="t-upload-img fx-fs" id="splash" ng-src="{{splash.data}}" ng-click="selectImage('file-1')">
			<input type="file" id="file-1" readfile="splash" accept="image/jpg">
		</div>
	</div>

	<ul class="t-settings clearfix">
		<li>
			<p>Company</p>
			<div class="t-setting">
				<input type="text" placeholder="company name" id="company-name" ng-model="settings.company_name">
				<input type="text" placeholder="support email" id="support-email" ng-model="settings.support_email">
			</div>
		</li>
		<li>
			<p>GitHub Config</p>
			<div class="t-setting">
				<input type="text" placeholder="github username" id="github-username" ng-model="settings.github_username">
				<input type="password" placeholder="github password" id="github-password" ng-model="settings.github_password">
			</div>
		</li>
		<li>
			<p>AWS Config</p>
			<div class="t-setting">
				<input type="text" placeholder="aws account id" id="aws-account-id" ng-model="settings.aws_account_id">
				<input type="password" placeholder="aws access key id" id="aws-access-key-id" ng-model="settings.aws_access_key_id">
				<input type="password" placeholder="aws secret access key" id="aws-secret-access-key" ng-model="settings.aws_secret_access_key">
				<input type="text" placeholder="aws bucket" id="aws-bucket" ng-model="settings.aws_bucket">
				<input type="text" placeholder="aws region" id="aws-region" ng-model="settings.aws_region">
				<select id="aws-logging" ng-model="settings.aws_logging">
					<option value="" selected="selected">- aws logging -</option>
					<option value="true">yes</option>
					<option value="false">no</option>
				</select>
			</div>
		</li>
		<li>
			<p>AWS Default Preferences</p>
			<div class="t-setting">
				<input type="text" placeholder="device name" id="device-name" ng-model="settings.device_name">
				<input type="text" placeholder="snapshot id" id="snapshot-id" ng-model="settings.snapshot_id">
				<input type="text" placeholder="volume type" id="volume-type" ng-model="settings.volume_type">
				<input type="text" placeholder="min size" id="min-size" ng-model="settings.min_size">
				<input type="text" placeholder="max size" id="max-size" ng-model="settings.max_size">
				<input type="text" placeholder="desired capacity" id="desired-capacity" ng-model="settings.desired_capacity">

				<button class="btn save" id="save" ng-click="save(settings, splash)">update</button>
			</div>
		</li>
		
	</ul>
</div>
<!-- END settings -->